
 
#admin {
    margin-top:0.2em;
}

#admin div {
    width: 24%;
    background-color: #eeeeee;
    margin:0.2%;
    float:left;
    border-radius: 0.5em;
    text-align: center;
    height: 12em;
    line-height: 12em;
    font-weight: bold;
    color: black;
    
    
}

#admin div:hover {
    background-color: #999999;
    cursor: pointer;
}

#admin div:nth-child(3) {
    width: 48.5%;
}

